.container{
    display: flex;
    padding: 10px;
    gap: 1rem;
    height: 80vh;
}

aside{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.principal{
    background-color: slategray;
    flex-grow: 1;
}

@media (max-width: 640px) {
    .container{
        flex-direction: column-reverse;
        height: 30vh;
    }
    
    aside{
        flex-direction: row;
        gap: 20px;
    }
    
}